body {
	background-color:lightblue;
	background-image: url(himmel.webp);
	background-size: cover;
}
#eple {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	transition: 0.5s;
	z-index:22; 
}

/*Death hanimation*/

@keyframes hpdown {
	0% {
		filter:hue-rotate(0deg);
	}
	25%{
		transform:translate(20px,20px);
		filter:hue-rotate(270deg);		
	}
	30%{
		transform:translate(+40px, -40px);
	}
	50% {
		transform:translate(-40px, 20px);
		filter:hue-rotate(365deg);		
	}
	100%{
		filter:hue-rotate(0deg);		
	}
}
/*Death hanimation*/


#fly{
	z-index:20;
}
#poengvisning {
	position: absolute;
	top: 2vh;
	left: 50vw;
	font-size: 5vw;
	z-index:18;
}