body {
	background-color:lightblue;
	background-image: url(himmel.webp);
	background-size: cover;
}
#eple {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	transition: 0.5s;
}
#fly {
	transition: 0.002s;
}
#poengvisning {
	position: absolute;
	top: 2vh;
	left: 50vw;
	font-size: 5vw;
}